* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* (#8) The img element should responsively resize, relative to the width of its parent element, without exceeding its original size */

body {
  background: #f2f2f2;
  color: #333;
  line-height: 1.5rem;
  font-family: sans-serif;
}

#main {
  background: #babd42;
  padding-top: 50px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  margin-bottom: 30px;
  font-weight: 900;
}

#img-div {
  display: flex;
  flex-direction: column;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
}
